@import 'tailwindcss';

.maplibregl-ctrl-bottom-left, .maplibregl-ctrl-bottom-right {
}

/* optional: scalebar visuals */
.maplibregl-ctrl-scale {
    background: transparent !important;
    border: 2px solid #f4a !important;
    border-radius: 0 0 4px 4px !important;
    border-top: none !important;
    color: #336 !important;
    font-size: 14px !important;
    font-weight: 600;
    padding: 4px 6px;
    margin-left: 25px !important;
}